body {
  margin-top: 40px;
  font-family: sans-serif;
  font-size: large;
  /* background-color: blue; */
}

.Question {
  font-size: large;
}

.questions {
  display: table;
}

.questions > div {
  display: table-row;
}

.questions > div > div {
  display: table-cell;
  padding: 0.3em;
}

.questions > div > div:first-child {
  text-align: end
}

.questions > div > div:last-child {
  font-size: x-large;
}

